{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- load css here -->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'cucu_cupboard_app/main.css' %}"> -->
	{% if title %}
		<title>Cucu Cupboard - {{ title }}</title>
	{% else %}
		<title>Cucu Cupboard - Home</title>
	{% endif %}
</head>
<body>
	{% block body %}
	{% endblock body %}
</body>
</html>
